$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;

body{
	background: $bg-color;
	color:$font-color;
}

.navbar{
	border-bottom:$primary-color 3px solid;
	opacity:0.8;
}

#home-section{
	background: url(../static/images/mountains.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;
}