<!DOCTYPE html>
<html class="no-js" lang="en">
  
	<head>
	    <meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
	    <link rel="stylesheet" href="/static/css/bootstrap.css">
	    <link rel="stylesheet" href="/static/css/style.css">
	    <title>LoopLab</title>
	</head>

	<body>
		{% block body %}{% endblock %}
		
	</body>

</html>