/*
$bg-color:#333;
$font-color:#fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,0,7);
$icon-size: 30px;
*/
body{
	background: #333;
	color:#fff;
}

.navbar{
	border-bottom:#008ed6 3px solid;
	opacity:0.8;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* home-section*/
#home-section{
	background: url('/static/images/home.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;

}

#home-section .dark-overlay{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	min-height:700px;
}

#home-section .home-inner{
	padding-top: 150px;
}

#home-section .card-form{
	opacity:0.8;
}

#home-section .fa{
	color:#008ed6;
	background:#fff;
	padding:4px;
	border-radius:5px;
	font-size:30px;
}

/* Explore-Section */
#explore-section .fa{
	color: #fff;
	background: #333;
	padding: 1px;
	border-radius:5px;
	font-size:30px;
}

/* Create-Section */
#create-section .fa{
	color: #fff;
	background: #333;
	padding: 1px;
	border-radius:5px;
	font-size:30px;
}
